server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
        - PreserveHostHeader
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: quiz-service
          uri: lb://QUIZ-SERVICE
          predicates:
            - Path=/quiz/**

        - id: attempt-service
          uri: lb://ATTEMPT-SERVICE
          predicates:
            - Path=/attempt/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
